<!DOCTYPE html>
<html lang="ko"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
<header th:fragment="commonHeader">
    <div>
        <a href="#">menu1</a>
        <a href="#">menu1</a>
        <a href="#">menu1</a>
        <a href="#">menu1</a>
        <a href="#" class="click_drop">menu1</a>
    </div>
    <div class="drop_menu" style="display: none">
        <a href="#">login</a><br>
        <a href="#">logout</a><br>
        <a href="#">join</a>
    </div>
</header>
</body>
<script>
    $(document).ready(function(){
       console.log('aaefef');
    });
</script>
</html>